@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.box {
  @apply flex flex-col bg-white shadow rounded border border-slate-200;
}

.box .box-header {
  @apply px-4 py-5 sm:px-6 border-b border-slate-200 flex flex-row items-center min-h-20;
}

.box .box-header h1 {
  @apply text-3xl font-thin leading-6 text-slate-900 flex-1;
}

.box .box-content {
  @apply px-4 py-5 sm:p-6;
}

.prompt-response {
  @apply bg-slate-50 ml-8 rounded block p-8 leading-6;
}

.prompt-response * {
  @apply leading-6 mb-2;
}

.prompt-response li {
  @apply ml-4 mb-4;
}